<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--html公共头部-->
<div th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/style.css}"/>
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/libs/modernizr.min.js}"></script>
</div>

<!--html带分页头部-->
<div th:fragment="head_page">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    &lt;!&ndash; Bootstrap CSS &ndash;&gt;
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--引入分页插件kkpager：一个js 一个css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/kkpager/kkpager_blue.css}"/>
    <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/kkpager/kkpager.min.js}"></script>
</div>

<!--分页代码-->
<div th:fragment="pagination">
    <div style="width:800px; margin:0 auto; margin-right: 30px; margin-top: 30px;">
        <div id="kkpager"></div>
    </div>

    <script type="text/javascript">
        //js获取地址栏参数的值, name为参数名
        function getParameter(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = location.search.substr(1).match(reg);
            if (r !== null) return (r[2]);
            return null;
        }

        var total = -1;
        var totalRecords = -1;

        $(function () {
            /*获取数据*/
            initRecord(1);
            /*初始化分页*/
            initPage();
        });

        /*初始化分页插件*/
        function initPage() {
            var pageNo = getParameter('pno');
            if (!pageNo) {
                pageNo = 1;
            }

            //initRecord(pageNo);//页面加载完先把第一页的记录展示出来
            kkpager.generPageHtml({
                pno: pageNo,// 当前页码
                total: total,//总页码
                totalRecords: totalRecords,//总数据条数
                mode: 'click',//默认值是link，可选link或者click
                click: function (pageNo) {
                    this.selectPage(pageNo);
                    initRecord(pageNo);//点击页码的时候，显示对应页的记录
                    return false;
                }
            },true);//搜索查询必须加上true-fhn
        }
        /*格式化时间*/
        /*function formatDate(v) {
            if (v === 0||v === null){
                return null;
            }
            if (/^(-)?\d{1,10}$/.test(v)) {
                v = v * 1000;
            } else if (/^(-)?\d{1,13}$/.test(v)) {
                v = v * 1;
            }
            var dateObj = new Date(v);
            var month = dateObj.getMonth() + 1;
            var day = dateObj.getDate();
            var hours = dateObj.getHours();
            var minutes = dateObj.getMinutes();
            var seconds = dateObj.getSeconds();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            if (hours < 10) {
                hours = "0" + hours;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            var UnixTimeToDate = dateObj.getFullYear() + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
            return UnixTimeToDate;
        }*/

        /*填充数据*/
        /*function initRecord(pageNo) {
            console.log(pageNo);
            $.ajax({
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/test/admin/pagesj",//${pageContext.request.contextPath}
//                processData: false,//必须false才会避开jQuery对 formdata 的默认处理
//                contentType: false,//必须false才会自动加上正确的Content-Type

                async: false,//这里面必须改为同步，因为要先执行ajax获取记录总数totalRecords
                data: {
//                    "token": token,
                    "page": pageNo-1,
                    "size": 5,
                    "key": "1",
                    "sort": "asc"
                },
                success: function (res) {
                    console.log(res);
                    if (res.code === 0) {
                        total = res.data.totalPages;
                        totalRecords = res.data.totalElements;
                        var tbodyHtml = "";
                        $.each(res.data.content,function(k,v){
                            tbodyHtml += '<tr>';
                            tbodyHtml += '<td class="tc">'+'<input name="adminId" type="checkbox" value="'+v.id+'">'+'</td>';
                            tbodyHtml += '<td>'+v.id+'</td>';
                            tbodyHtml += '<td>'+v.userName+'</td>';
                            tbodyHtml += '<td>'+'xxx'+'</td>';
                            tbodyHtml += '<td>'+'<img src="" width="30" height="30"/>'+'</td>';
                            tbodyHtml += '<td>'+v.phoneNum+'</td>';
                            tbodyHtml += '<td>'+v.email+'</td>';
                            tbodyHtml += '<td>'+formatDate(v.createDate)+'</td>';
                            tbodyHtml += '<td>'+formatDate(v.lastLoginTime)+'</td>';
                            tbodyHtml += '<td>'+'<a class="link-update" href="/Admin_updateInput_admin?id=">修改</a>' +
                                '<a class="link-del" href="/Admin_delete_admin?id=" onclick="delcfm()">删除</a>' + '</td>';
                            tbodyHtml += '</tr>';
                        });
                        $("#content").html(tbodyHtml);

                    }
                }
            })
        }*/

    </script>
</div>

<!--html页尾-->
<footer class="site-footer" th:fragment="footer">
    <div class="text-center">
        2014 - Alvarez.is - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> -
        Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
        <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>

<!--admin头部导航条-->
<div th:fragment="top_nav_bar">
    <!--<script language='javascript'>
        function logout() {
            if(!confirm('事都干完了吗，就想着离开！')){ window.event.returnValue = false;}
        }
    </script>-->
    <div class="topbar-wrap white">
        <div class="topbar-inner clearfix">
            <div class="topbar-logo-wrap clearfix">
                <h1 class="topbar-logo none"><a th:href="@{/admin/index}" class="navbar-brand">后台管理</a></h1>
                <ul class="navbar-list clearfix">
                    <li><a th:href="@{/admin/index}" class="on">后台首页</a></li>
                    <li><a th:href="@{/index}" target="_blank">网站首页</a></li>
                </ul>
            </div>
            <div class="top-info-wrap">
                <ul class="top-info-list clearfix">
                    <li>
                        <a class="on1"><img src="" width="30" height="30"/>
                            <property value="#session.admin.adminname"/>
                            管理员
                        </a>
                    </li>
                    <li><a href="/">修改密码</a></li>
                    <li><a href="/Admin_logout_admin" onclick="logout()">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--admin左侧导航条-->
<div class="sidebar-wrap" th:fragment="left_nav_bar">
    <div class="sidebar-title">
        <h1>菜单</h1>
    </div>
    <div class="sidebar-content">
        <ul class="sidebar-list">
            <li>
                <a style="font-size: 20px">&nbsp;&nbsp;<i class="icon-font">&#xe003;</i> 常用操作</a>
                <ul class="sub-menu">
                    <!--<li><a href="javascript:void(0);"><i class="icon-font">&#xe008;</i>用户管理</a></li>-->
                    <li><a target="main_user" href="javascript:void(0);"><i class="icon-font">&#xe008;</i>用户管理</a></li>
                    <li><a target="main_role" href="javascript:void(0);"><i class="icon-font">&#xe008;</i>角色管理</a></li>
                    <li><a target="main_permission" href="javascript:void(0);"><i class="icon-font">&#xe008;</i>权限管理</a></li>
                    <li><a target="main_allPost" href="javascript:void(0);"><i class="icon-font">&#xe006;</i>所有帖子管理</a></li>
                    <li><a th:href="@{/admin/myPostManager}"><i class="icon-font">&#xe006;</i>我的帖子管理</a></li>
                    <li><a th:href="@{/admin/homePostManager}"><i class="icon-font">&#xe005;</i>轮播新闻管理</a></li>
                    <li><a th:href="@{/admin/staryInfoManager}"><i class="icon-font">&#xe052;</i>星球信息管理</a></li>
                    <li><a th:href="@{/admin/reportInfoManager}"><i class="icon-font">&#xe033;</i>举报信息处理</a></li>
                    <!--<li><a href="admin/friendlyLink.jsp"><i class="icon-font">&#xe052;</i>友情链接</a></li>
                    <li><a href="admin/advertisement.jsp"><i class="icon-font">&#xe033;</i>广告管理</a></li>-->
                </ul>
            </li>
            <li>
                <a style="font-size: 20px">&nbsp;&nbsp;<i class="icon-font">&#xe018;</i> 系统管理</a>
                <ul class="sub-menu">
                    <li><a href="admin/system.jsp"><i class="icon-font">&#xe017;</i>系统设置</a></li>
                    <li><a href="admin/system.jsp"><i class="icon-font">&#xe037;</i>清理缓存</a></li>
                    <li><a href="admin/system.jsp"><i class="icon-font">&#xe046;</i>数据备份</a></li>
                    <li><a href="admin/system.jsp"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>


</html>